[submodule "web-app"]
	path = web-app
	url = https://www.github.com/ArtInLines/workout-calendar-web
[submodule "desktop-app"]
	path = desktop-app
	url = https://www.github.com/ArtInLines/workout-calendar-desktop
